@use "src/styles/variables" as variables;

.app-administration {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;

  &__title, &__content {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin: 12px 0;
  }

  &__card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 16px;
    &-title {
      margin-bottom: 20px;
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
  }

}
