//$text-primary: #2d0c57;
//$text-secondary: #9586a8;
//$selected-bg: #e2cbff;
//$border: #d9d0e3;
//$background: #f6f5f5;
//$selected: #7203ff;
//$primary: #0bce83;
//$accent: #cbf265;
$white: #fff;

$text: #212121;
$text-primary: #212121;
$text-secondary: #757575;
$primary: #ffc107;
$primary-light: #ffecb3;
$primary-dark: #ffa000;
$accent: #4caf50;
$divider: #bdbdbd;
$background: #f6f5f5;

$link: #06BE77;
$link-hover: #27AE60;
$link-visited: #6FCF97;

$alert: #EB5757;
$warning: #F2994A;
$item-hover: rgba(47, 52, 79, 0.04);


$event-background: rgba(155, 242, 114, .67);
