@use "src/styles/variables" as variables;

.app-forthcoming-event {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;

  flex: 1;
  overflow: auto;

  .announcement {
    margin: 10px 20px;
    &_alert {
      color: variables.$alert;
    }
    &_warning {
      color: variables.$warning;
    }
  }

  .event-date {
    height: 81px;
    background-color: variables.$event-background;
    display: flex;
    width: 100%;
    max-width: 264px;
    margin: 24px auto;
    &__wrapper {
      position: relative;
      top: -12px;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
    }
    &__day {
      font-size: 96px;
      line-height: 74px;
      text-align: center;
    }
    &__month {
      text-align: center;
    }
  }

  .locations {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin: 20px 14px;
    &__location {
      display: flex;
      gap: 14px;
      flex: 1 1 360px;
      color: variables.$text-secondary;
      &-display-btn {
        height: inherit;
        display: flex;
        width: 40px;
        .material-icons {
          margin: auto;
        }
      }
    }
  }

  .fraction {
    &__background {
      margin-right: 20px;
      height: 16px;
      position: relative;
      top: 45px;
      z-index: 1;
      background: variables.$event-background;
    }
    &__title {
      margin: 20px;
      position: relative;
      z-index: 1;
    }
    &__item {
      cursor: pointer;
      margin: 4px;
      min-height: 28px;
      padding: 0 16px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      &-text {
        margin: auto 0;
      }
      &:hover {
        background: variables.$item-hover;
      }
    }

    &:last-of-type {
      margin-bottom: 48px;
    }
  }
}
