@use "src/styles/variables" as variables;

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: variables.$primary;
  box-shadow: 0 2px 5px #0000004d;
  &__go-back {
    margin: auto 20px;
  }
  &__menu {
    margin: auto 20px;
  }
}
